body {
    background-image: url(./assets/forest.jpg);
    background-size: cover;
}

h2 {
    color: white;
    font-size:30px;
}

h3 {
    color: white;
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 70px; 
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    padding: 0;
    margin: 0;
    text-shadow: 2px 3px rgba(0,0,0, 0.5);
}

main {
    display: flex;
    justify-content:space-evenly;
    align-content: center;
}

.table-container {
    display: flex;
    flex-direction:column;
}

.playerOne-container, .playerTwo-container {
    margin: 0;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    font-weight: bold;
    font-size: 20px;
    padding:0;
}

.playerOne-container table, .playerTwo-container table {
    background-color: rgba(255, 255, 255, 0.137);
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

td, tr {
    color: white;
    
}

.table-container table {
    background-color: rgba(255, 255, 255, 0.137);
    border-collapse: collapse;
    color: white;
    width: 500px;
    text-align: center;
    overflow-y: auto;
}

th, td {
    border: solid 1px #ccc;
    padding: 5px;
}

#playerOne {
    content: url(./assets/elf.png);
    width: 250px;
}

#playerTwo {
    content: url(./assets/golem.png);
    width: 250px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.playerOne-select, .playerTwo-select {
    position: relative;
    top: -5%;
}

.playerOne-select i, .playerTwo-select i {
    padding: 0 50px;
}

.playerOne-select i:hover, .playerTwo-select i:hover {
    text-shadow: 0 0 5px #F2CD5E, 0 0 25px #F2CD5E, 0 0 50px #F2CD5E, 0 0 200px #F2CD5E;
}

#playerOne-name, #playerTwo-name {
    margin: 0;
    padding: 5px 0;
}

#playerOne-class, #playerTwo-class {
    font-size:14px;
    margin: 0;
}

.button {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
}

button:hover {
    background-color: #F2CD5E;
    box-shadow: 0 0 5px #F2CD5E, 0 0 25px #F2CD5E, 0 0 50px #F2CD5E, 0 0 200px #F2CD5E;
    color: rgb(49, 48, 48);
    font-weight: bold;
}

button {
    padding: 7px;
    background:rgba(255, 255, 255, 0.137);
    border: solid 1px white;
    color: white;
    border-radius:3px;
    cursor: pointer;
    font-weight: bold;
}

.result {
    margin-top: 40px;
    color: white;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.137);
    border-collapse: collapse;
    padding: 12px 30px;
    text-align: center;
    max-height: 50;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.result::-webkit-scrollbar {
    display: none;
}
